""""""""""""""""""""""""""""""""""""""""
"
" Plugins
"
""""""""""""""""""""""""""""""""""""""""

set commentary

set surround
set exchange
set highlightedyank

""""""""""""""""""""""""""""""""""""""""
"
" General
"
""""""""""""""""""""""""""""""""""""""""

" Use system clipboard
set clipboard+=unnamed

" Line width ruler
set colorcolumn=80

" Numbers!
set number
set relativenumber

" Footer
set wildmenu
set showcmd
set laststatus=2
set noshowmode

" Scroll offset
set scrolloff=3

"" Searching
set hlsearch
set incsearch
set ignorecase
set smartcase

" Split navigation
set splitbelow
set splitright

""""""""""""""""""""""""""""""""""""""""
"
" Keymaps
"
""""""""""""""""""""""""""""""""""""""""

" Follow this leader
let mapleader=','
let maplocalleader='\'

" Searching
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap <leader>/ :noh<cr>

" File navigation <leader>f
map <Leader>ff <Action>(GotoFile)
map <Leader>fs <Action>(GotoSymbol)
map <Leader>fc <Action>(GotoClass)
map <Leader>fa <Action>(GotoAction)
map <Leader>f/ <Action>(FindInPath)

nnoremap <Leader>fw :w<CR>
nnoremap <Leader>fq :q<CR>
" nnoremap <Leader>ft :NERDTreeToggle<CR>

" Split navigation
noremap <Leader>x :<C-u>split<CR>
noremap <Leader>v :<C-u>vsplit<CR>
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l
noremap <C-h> <C-w>h
map <C-m> <Action>(MoveEditorToOppositeTabGroup)

" Buffer navigation <leader>b
map <Leader>bb <Action>(RecentFiles)
" noremap <Leader>bc :BD<CR>
" noremap <Leader>bC :bd<CR>
" noremap <Leader>bn :bn<CR>
" noremap <Leader>bp :bp<CR>

" Maintain visual mode after shifting
vmap < <gv
vmap > >gv

" Move visual block
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Fix location stack navigation
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

" Git hunk navigation
map ]g <Action>(VcsShowNextChangeMarker)
map [g <Action>(VcsShowPrevChangeMarker)
